@model Shared.dtoNewUser

@{
    ViewData["Title"] = "Add User";
}


<div class="text-center">
    <h1 class="display-4">Add new User</h1>
</div>

<div class="row justify-content-center mt-5">
    <div class="col-md-6 col-lg-4">
        <form asp-action="CreateUser" method="post">
            <div class="mb-3">
                <label asp-for="Username" class="form-label"></label>
                <input asp-for="Username" class="form-control" placeholder="Enter Username" required />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" type="email" class="form-control" placeholder="Enter Email" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" type="password" class="form-control" placeholder="Enter Password" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
</div>
