@model Shared.EditAccountdto.ResetPassword

@{
    ViewData["Title"] = "Reset Password";
}


<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">

        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
        <div class="card shadow-sm">
            <div class="card-body">
                <h4 class="card-title mb-3">Reset Password</h4>

                <form asp-action="ResetPassword" method="post">

                    <div class="mb-3">
                        <label asp-for="OldPassword" class="form-label">Current Password</label>
                        <input asp-for="OldPassword" type="password" class="form-control" placeholder="Enter current password" required />
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="NewPassword" class="form-label">New Password</label>
                        <input asp-for="NewPassword" type="password" class="form-control" placeholder="Enter new password" required />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="ConfirmPassword" class="form-label">Confirm new Password</label>
                        <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm new password" required />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-warning w-100">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}