@model Shared.ResetPassworddto

@{
    ViewData["Title"] = "Change Password";
}


<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">

        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
        <div class="card shadow-sm">
            <div class="card-body">
                <h4 class="card-title mb-3">Reset Password</h4>

                <form asp-action="ResetPassword" method="post">

                    <div class="mb-3">
                        <label asp-for="OldPassword" class="form-label">Current Password</label>
                        <input asp-for="OldPassword" type="password" class="form-control" placeholder="Enter current password" required />
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="NewPassword" class="form-label">New Password</label>
                        <input asp-for="NewPassword" type="password" class="form-control" placeholder="Enter new password" required />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="ConfirmPassword" class="form-label">Confirm new Password</label>
                        <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm new password" required />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="button" class="btn btn-warning w-100 action-button"
                            data-action-type="changepassword">Change Password
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirmation" tabindex="-1" aria-labelledby="confirmationLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-success text-white">
                    <h5 class="modal-title" id="confirmationLabel">Confirmation</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="modalMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="confirmActionButton">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    

    <script>
        var formToSubmit = null;

        $('.action-button').on('click', function () {
            formToSubmit = $(this).closest('form');

            var actionType = $(this).data('action-type');
            var msg = `Are you sure you want to change passwrod ?`;

            $('#modalMessage').html(msg);

            var myModal = new bootstrap.Modal(document.getElementById('confirmation'));
            myModal.show();

            $('#confirmActionButton').on('click', function () {
                if (formToSubmit) {
                    formToSubmit.submit();
                }
            });
        });
    </script>
}